body{
  background-color:  #cef4f4;
  margin:0px;
  padding:0px;
}
.navbar{
  padding: 5px ;
  padding-top: 12px;   
  margin-right:3px;
  background: black;
  color:white;
  font-weight: bold;
  font-size:30px;
}
.navbar ul{
  margin: 0;
  padding: 0;
  list-style:none;
  overflow:hidden;
  display: flex;
}
.navbar  li{
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 18px;
  white-space:nowrap;
  position:relative;
  margin:10px;
  margin-right: 50px;
}
.navbar li a{
  color:#fff;
  text-decoration: none;
}
  a:hover, .active{
    background-color:rgb(32, 117, 183);
    color:white;
    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 40px;
    padding-right: 10px;
    text-decoration:underline;
  /* border-radius: 70px; */
}
.float{ 
  float:left;
  margin-right:900px;
}

   html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    margin-left: 150px;
    margin-right: 150px;
  }
  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 8px;
    margin-left: 150px;
    margin-right: 150px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #13af98;
    color: white;
    font-size: x-large;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  

  /* .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

  @media screen and (max-width: 650px) {
    .column {
    color: #fff;
      width: 100%;
      display: block;
    }
  }

  img{
    width:40%;
    margin-left:30%;
  }
  */
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  img{
    width:40%;
    margin-left:30%;
  }